<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NuGet.Common" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Configuration" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Indexing" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Logging" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Packaging" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.Types" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="NuGet.Versioning" version="3.4.4-rtm-final" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
</packages>