body {
    padding-top: 70px;
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

code {
    color: inherit;
    font-size: inherit;
    background-color: #F2F3F9;
}
